@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  header {
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 20px;
  }

  .arrow-footer {
    display: none;
  }
  .wrap_second {
    justify-content: center;
    align-items: center;
  }
  .wrap_first {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .carousel-slider {
    max-width: 650px;
  }
  .background-color {
    max-width: 533px;
  }
  .has-medium-font-size {
    max-width: 850px;
    border-radius: 398px 80px;
  }
  .text-design {
    margin-top: 25px;
  }
  .text-rightside {
    margin-top: 58px;
  }
  .text-design {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 360px 115px;
  }
  .content {
    text-align: center;
    max-width: 570px;
  }
  .about {
    max-width: 417px;
    margin: 0 auto;
  }
  .blog-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .post-summary {
    border-radius: 360px 115px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    display: grid;
    padding-bottom: 25px;
  }

  .search-container_mobile {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .blog_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-container_mobile {
    display: block;
  }

  /* .search-container {
    display: none;
  } */

  .open {
    position: absolute;
  }

  nav {
    background-color: whitesmoke;
    padding: 4rem;
    position: absolute;
    width: 100%;
    top: -100%;
    left: 0;
    flex-direction: column;
    transition-duration: 0.5s;
    align-items: center;
  }

  .nav-active {
    background-color: var(--form-box-shadow-color);
    padding: 4rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 700px;
    flex-direction: column;
    transition-duration: 0.5s;
    align-items: center;
    overflow: hidden;
    z-index: 1;
  }

  a {
    font-size: 18px;
  }

  #burger-nav {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 7px;
    border: 2px solid var(--paragraph-heading-font-color);
    z-index: 2;
  }

  #burger-nav div {
    width: 22px;
    height: 3px;
    background-color: var(--paragraph-heading-font-color);
    cursor: pointer;
    margin: 5px;
  }

  #burger-nav.close {
    transform: rotate(180deg);
  }

  #burger-nav.close .line1 {
    transform: rotate(45deg) translate(7px, 7px);
  }

  #burger-nav.close .line2 {
    opacity: 0;
  }

  #burger-nav.close .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .heading-post {
    font-size: 55px;
  }

  .blog-container figure img {
    width: 100%;
    max-width: 450px;
    height: 350px;
  }

  #search-box {
    margin-top: 10px;
  }

  .post-picture {
    max-width: 600px;
    margin: 0 auto;
  }

  .text-pic {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    font-size: 20px;
  }

  .blog-container figcaption {
    font-size: 25px;
    padding: 15px;
  }

  .blockquote_text {
    text-align: center;
  }

  .blockquote_credit-me {
    text-align: center;
  }

  .wrap_second,
  .wrap_first {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: fit-content;
  }

  .arrow-footer,
  .flip,
  .arrow-category {
    margin: 0;
    display: none;
  }

  .drawing {
    margin: 10px;
  }

  .picture,
  .picture-drawing {
    padding: 20px;
  }

  .art,
  .d_render {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-top: auto;
  }

  .text-rightside {
    font-size: 12px;
  }

  .tea {
    width: 100%;
  }

  .footer-logo {
    border-right-width: 0px;
  }

  .footer-logo {
    margin: 0 auto;
    padding: 10px;
  }

  .copy-content {
    padding: 20px;
  }

  .has-medium-font-size {
    font-size: 18px;
  }

  .wrapper-box {
    display: flex;

    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 700px;
  }

  .arrow-footer {
    position: inherit;
    margin-left: 50px;
    margin-top: 50px;
  }
  .carousel-slider {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 33px;
  }

  .drawing,
  .art,
  .d_render {
    font-size: 29px;
  }

  .d_render {
    font-size: 29px;
  }

  h2 {
    font-size: 33px;
  }

  .number {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .address {
    padding: 0;
  }

  .icon-text {
    padding: 0;
  }
  .thin-arrow {
    display: none;
  }
  .footer-logo {
    display: block;
  }
  .layout-design figure img {
    padding: 20px;
  }

  .layout-design figcaption {
    font-size: 28px;
  }

  .heading-post {
    font-size: 34px;
  }
  .cta-category {
    height: 225px;
    display: grid;
  }
  .cta-links-1 {
    height: auto;
    width: auto;
  }
  .cta-links-1 {
    height: auto;
    width: auto;
  }
  /* .cta-category {
    width: fit-content;
  } */
  .category-heading {
    text-align: center;
  }
  .heading-post {
    font-size: 44px;
  }
  .picture {
    max-width: 325px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .number {
    padding: 0;
    width: 300px;
  }
  .icon-text {
    padding: 0;
  }
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tea {
    padding: 0;
  }
  .post-picture {
    box-shadow: none;
  }
  .blog-container figure img {
    height: 260px;
  }
  .load_more {
    width: 56%;
  }
  #slide {
    max-width: 269px;
    height: auto;
  }
  .carousel-wrapper {
    height: 425px;
  }
  .title {
    font-size: 18px;
  }
  .up-cta {
    margin: 25px;
    padding: 0px;
  }
  .get-in-touch {
    font-size: 4em;
  }
  .form-container {
    max-width: 400px;
  }
  .background-contact {
    background-size: cover;
  }
}
