@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    display: grid;
    padding-bottom: 25px;
  }

  .blog_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-container_mobile {
    display: block;
  }

  .search-container {
    display: none;
  }

  .open {
    position: absolute;
  }

  nav {
    position: absolute;
    right: 0;
    height: 82vh;
    top: 17vh;
    background-color: var(--text_background-color);
    display: grid;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-active {
    transform: translateX(0%);
    width: 100%;
    z-index: 1000;
  }

  a {
    font-size: 18px;
  }

  #burger-nav {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 7px;
    border: 2px solid var(--paragraph-heading-font-color);
  }

  #burger-nav div {
    width: 22px;
    height: 3px;
    background-color: var(--paragraph-heading-font-color);
    cursor: pointer;
    margin: 5px;
  }

  #burger-nav.close {
    transform: rotate(180deg);
  }

  #burger-nav.close .line1 {
    transform: rotate(45deg) translate(7px, 7px);
  }

  #burger-nav.close .line2 {
    opacity: 0;
  }

  #burger-nav.close .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .heading-post {
    font-size: 55px;
  }

  .blog-container figure img {
    width: 100%;
    max-width: 450px;
    height: 350px;
  }

  .text-pic {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    font-size: 20px;
  }

  .blog-container figcaption {
    font-size: 25px;
    padding: 15px;
  }

  .blockquote_text {
    text-align: center;
  }

  .blockquote_credit-me {
    text-align: center;
  }

  .wrap_second,
  .wrap_first {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: fit-content;
  }
  .arrow-footer,
  .flip,
  .arrow-category {
    display: none;
  }
  .drawing {
    margin: 10px;
  }
  .picture,
  .picture-drawing {
    padding: 20px;
  }
  .art,
  .d_render {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-top: auto;
  }
  .text-rightside {
    font-size: 12px;
  }
  .background-color {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tea {
    width: 100%;
  }
  .footer-logo {
    border-right-width: 0px;
  }
  .footer-logo {
    margin: 0 auto;
    padding: 10px;
  }
  .copy-content {
    padding: 20px;
  }
  .has-medium-font-size {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 33px;
  }

  .drawing,
  .art,
  .d_render {
    font-size: 29px;
  }

  .d_render {
    font-size: 29px;
  }

  h2 {
    font-size: 33px;
  }

  .number {
    display: flex;
    flex-direction: column;
  }

  .thin-arrow {
    display: none;
  }
  .footer-logo {
    display: block;
  }
  .layout-design figure img {
    padding: 20px;
  }

  .layout-design figcaption {
    font-size: 28px;
  }

  .heading-post {
    font-size: 34px;
  }
  .cta-category {
    height: 225px;
    display: grid;
  }
  .cta-links-1 {
    height: auto;
    width: auto;
  }
  .cta-links-1 {
    height: auto;
    width: auto;
  }
  /* .cta-category {
    width: fit-content;
  } */
  .category-heading {
    text-align: center;
  }
  .heading-post {
    font-size: 44px;
  }
  .address {
    padding: 0;
  }
  .number {
    padding: 0;
    width: 300px;
  }
  .icon-text {
    padding: 0;
  }
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tea {
    padding: 0;
  }
  .post-picture {
    box-shadow: none;
  }
}
