@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
  --text_background-color: #f5f5f5;
  --heading-background-color: #dedede;
  --button-background: #ffffff;
  --picture-shadow: #f4757d;
  --footer-contact-color-shadow: #ee5f5f;
  --footer-contact-color: #edff00;
  --footer-text-box: #ffd484;
  --footer-text: #06019d;
  --paragraph-heading-font-color: #002b38;
  --main-blog-picture-shadow: #ffd484;
  --cta-small-shadow: #444444;
  --cta-small-button-border: #06019d;
  --box-shadow-button: -6px -4px 0px;
  --pic-shadow: -30px -60px 0px;
  --main-heading: 4em;
  --footer-box-shadow-color: #d9e9f7;
  --but-read-more-text: #010f9f;
  --but-read-more-box-shadow: -13px 10px 0px;
  --submit-form-button: #0cfaac;
  --error: #ff0909;
}

.loader {
  border: 16px solid var(--but-read-more-text);
  border-top: 16px solid var(--footer-contact-color-shadow);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spinning 2s linear infinite;
  display: flex;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------------------- header--------------------------------- */

.logo {
  width: 100%;
  max-width: 150px;
  margin-top: 10px;
  aspect-ratio: 3/1;
}

a {
  text-decoration: none;
  color: var(--paragraph-heading-font-color);
  font-size: 1.2em;
  font-weight: bold;
}

.links {
  text-decoration: none;
  color: var(--paragraph-heading-font-color);
  margin: 0px 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.active {
  border-bottom-width: 3px;
  border-bottom-style: double;
  color: var(--footer-text);
  border-top-style: double;
}

.active:hover {
  transition: ease-in 0.3ms;
  color: var(--paragraph-heading-font-color);
}

#burger-nav {
  display: none;
}

#search-cta {
  padding: 5px 13px;
  background: var(--button-background);
  border: 2px solid var(--cta-small-button-border);
  cursor: pointer;
  margin-left: 4px;
}

#search-box {
  border: 2px solid var(--cta-small-button-border);
  padding: 4px;
  margin-left: 12px;
}

.search-container_mobile {
  display: none;
}

#search-cta:hover {
  box-shadow: var(--box-shadow-button);
  transition: ease-in 0.4s;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: var(--heading-background-color);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*----------------------------- header finished .main section starts from here --------------------------------- */
.grids {
  background-image: url(/images/grids.png);
}

h1,
h2 {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  font-size: var(--main-heading);
  color: var(--paragraph-heading-font-color);
  /* padding: 25px 0px; */
}

.quote {
  padding: 15px;
  margin: 0 auto;
  max-width: 1100px;
}

.leonardo-vinci {
  display: none;
  width: 100%;
  max-width: 100px;
  position: absolute;
}

.arrow-category {
  width: 100%;
  max-width: 150px;
  height: fit-content;
  margin-top: 50px;
  z-index: 500;
}

.flip {
  width: 100%;
  max-width: 150px;
  height: fit-content;
  margin-top: 50px;
  transform: scaleX(-1);
  filter: flip;
  -ms-filter: 'flip';
  float: none;
}

.blockquote_text {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
}

.blockquote_credit:hover img {
  transition: ease-in 0.4s;
  display: block;
}

.blockquote_text::before {
  content: '\201c';
  font-size: 60px;
  color: var(--cta-small-button-border);
}

.blockquote_credit {
  font-weight: bold;
  text-align: right;
  font-size: 1.9em;
  width: 80%;
  cursor: pointer;
}

.blockquote_credit-me {
  text-align: right;
}

.blockquote_credit::before {
  content: '\2014\0020';
}

.architectural_blog {
  background-color: var(--text_background-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.picture {
  width: 100%;
  max-width: 380px;
  object-fit: cover;
  height: max-content;
  padding: 0%;
  box-shadow: -18px -17px;
  color: var(--picture-shadow);
  border-bottom: 8px solid black;
}

.picture:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
  transition: box-shadow 0.5s ease-in-out;
}

.slideshow_img {
  width: 100%;
  max-width: 380px;
  box-shadow: var(--pic-shadow) var(--picture-shadow);
  margin-top: 30px;
}

/* .grey-shadow {
  width: 100%;
  max-width: 380px;
  margin: 20px;
  box-shadow: -25px -40px 0px var(--heading-background-color);
} */

.hobby-small {
  font-size: 1rem;
  margin: 0 auto;
  max-width: max-content;
  padding: 1rem;
}

.wrap_first {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding-bottom: 10px;
  padding-top: 50px;
  font-weight: bold;
}

.wrap_second {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  margin-top: 40px;
}

.wrappercontainer {
  margin: 0 auto;
  max-width: 900px;
}

.drawing {
  margin-top: 50px;
  font-size: 2em;
  text-align: left;
  padding: 10px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  color: var(--paragraph-heading-font-color);
}

.art,
.d_render {
  margin-top: 50px;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  color: var(--paragraph-heading-font-color);
}

.text-design {
  background-color: var(--text_background-color);
  padding: 25px;
  margin-top: 40px;
  width: 1200px;
}

.content {
  text-align: left;
  font-size: 1.6em;
  margin: 0 auto;
  max-width: 900px;
  padding: 10px;
  font-weight: bold;
  color: var(--paragraph-heading-font-color);
}

.read_more {
  font-size: 20px;
  font-weight: normal;
  background-color: var(--text_background-color);
  max-width: 400px;
  color: var(--paragraph-heading-font-color);
  margin: 10px;
  margin: 0px auto;
}

.text-rightside {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.latest-blog {
  padding: 30px 0px;
}

.slideshow {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  justify-content: end;
}

.slideshow_carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  margin: 0 auto;
}

.cta-button {
  background-color: var(--button-background);
  border: 3px solid var(--cta-small-button-border);
  cursor: pointer;
  font-size: 18px;
  color: var(--paragraph-heading-font-color);
  box-shadow: var(--but-read-more-box-shadow);
  padding: 15px;
  font-weight: bold;
}

.cta-button:hover {
  transition: ease-in 0.4s;
  color: var(--but-read-more-text);
  background-color: var(--footer-contact-color);
}

.right-icon,
.left-icon {
  font-size: 25px;
  background: var(--button-background);
  padding: 10px;
  border-radius: 50%;
  border: 2px solid var(--cta-small-button-border);
  margin-left: 20px;
  margin-right: 20px;
}

.arrow-icons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
}

.contact {
  font-size: 1.8em;
  font-weight: bold;
  background-color: var(--footer-contact-color);
  padding: 25px;
  color: var(--paragraph-heading-font-color);
  box-shadow: -30px 27px 0px var(--footer-contact-color-shadow);
  position: relative;
  left: 38px;
}

.arrow-footer,
.footer-logo {
  width: 100%;
  max-width: 194px;
}

.thin-arrow {
  width: 100%;
  max-width: 60px;
}

.arrow-footer {
  padding-right: 0px;
  z-index: 1000;
  position: relative;
  left: 14px;
}

.footer-logo {
  border-right-width: 1px;
  border-right-style: solid;
  padding-right: 10px;
}

.wrapper-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text_background-color);
  padding: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.background-color {
  background: var(--main-blog-picture-shadow);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  box-shadow: -31px 39px 2px var(--footer-box-shadow-color);
  width: 800px;
  position: inherit;
}

.footer-box {
  color: var(--footer-text);
  line-height: 1.6;
  font-weight: 600;
  font-size: 16px;
  width: 313px;
}
.address,
.number,
.icon-text {
  padding-left: 15px;
}

.number {
  width: 440px;
  box-sizing: border-box;
}

.tea {
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 25px;
  color: var(--footer-text);
  font-weight: bold;
  box-sizing: border-box;
  width: 295px;
}

.media {
  padding: 10px;
}
.social-media {
  padding-left: 10px;
  padding-right: 10px;
}

.copy-write {
  background-color: var(--heading-background-color);
}

.copy-content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
  justify-content: center;
  align-items: center;
}
/* ----------------------------------------------blog----page----------------------  */
.picture-post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-picture {
  width: 100%;
  max-width: 800px;
  box-shadow: -73px -31px var(--footer-box-shadow-color);
  border: 10px solid var(--button-background);
  aspect-ratio: auto;
}

.heading-post {
  margin: 0 auto;
  text-align: center;
  font-size: var(--main-heading);
  color: var(--paragraph-heading-font-color);
  padding: 40px;
}

.post-summary {
  display: flex;
  background: var(--text_background-color);
  width: 1100px;
  padding: 50px;
  position: relative;
  top: -31px;
  /* margin: 0 auto; */
}
.blog-container {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: justify;
}

.cta-big {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------detail-specific page and  all category --------------------------- */
.detail-img {
  width: 100%;
  max-width: 350px;
  padding: 10px;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.blog-container figure img {
  border: 6px solid var(--heading-background-color);
  margin: 0 auto;
  height: auto;
  max-width: 60%;
  height: auto;
  display: block;
}

.text-pic {
  margin: 0 auto;
  font-size: 25px;
  padding: 50px;
  width: 100%;
  margin-top: 25px;
  background: var(--text_background-color);
  color: var(--paragraph-heading-font-color);
}

.text-pic p {
  margin-top: 25px;
}

.blog-container figcaption {
  margin: 0 auto;
  font-size: 35px;
  font-weight: bold;
  padding: 25px;
  background: var(--footer-box-shadow-color);
  color: var(--paragraph-heading-font-color);
}

.wp-block-image.size-full {
  width: 100%;
  max-width: 800px;
  border: 10px solid var(--button-background);
  margin: 0 auto;
}

.error {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.read-more {
  display: none;
}

/* ---------------------------------------About page me----------------------------------- */

.has-medium-font-size {
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 0px;
  font-size: 25px;
  padding: 50px;
  width: 100%;
  margin-top: 25px;
  background: var(--text_background-color);
  color: var(--paragraph-heading-font-color);
}

.layout-design figcaption {
  margin: 0 auto;
  font-size: 35px;
  font-weight: bold;
  padding: 25px;
  background: var(--footer-box-shadow-color);
  color: var(--paragraph-heading-font-color);
  display: flex;
  justify-content: center;
}

.layout-design figure img {
  margin: 0 auto;
  height: auto;
  height: auto;
  display: block;
  width: 100%;
  max-width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about {
  background-color: var(--text_background-color);
}

/* ..----------------------contact form ------------------------ */

/* .error-msg {
  border: var(--error);
  font-weight: bold;
  display: none;
} */

.nameError,
.emailError,
.subjectError,
.messageError {
  color: var(--error);
  font-weight: bold;
  display: none;
}

/* #firstName,
#email,
#subject,
#message {
  padding: 10px;
} */

.contact-form_form {
  display: flex;
  flex-direction: column;
  max-width: 600px fit-content;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--paragraph-heading-font-color);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 0px;
}

.form-container {
  background: var(--text_background-color);
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 25px;
}

#firstName,
#email,
#subject {
  padding: 10px;
}

#cta-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 250px;
  margin: 0 auto;
  background-color: var(--button-background);
}
.cta-submit_form {
  background-color: var(--button-background);
  border: 3px solid var(--cta-small-button-border);
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--paragraph-heading-font-color);
  box-shadow: var(--but-read-more-box-shadow);
  padding: 15px;
  font-weight: bold;
  max-width: 250px;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}

.cta-submit_form:hover {
  transition: ease-in 0.4s;
  background-color: var(--submit-form-button);
  color: var(--paragraph-heading-font-color);
}
